@font-face {
    font-family: Gotham ;
    src: url("../../assets/GothamMedium_1.ttf");
}

.detailsMain {
    font-family: Gotham;

}

.itemName {
    font-size: 30px;
}

.container {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;;
}

.itemImg {
    width: 500px;
    border: 5px solid;
    margin: 10px;
    border-radius: 10px;
}

.itemInfo {
    font-size: 20px;
    width: 500px;
    margin: 20px 0 20px 0;
}

.addtocart {
    height: 60px;
    width: 250px;
    background-color: black;
    color: white;
    font-family: Gotham;
    border-radius: 5px;
    border: 0;
    margin-bottom: 10px;
    font-size: 20px;
}