@font-face {
    font-family: DogDayBrush;
    src: url("../../assets/Fenotype\ -\ DogDays-Brush.otf");
}

@font-face {
    font-family: Gotham ;
    src: url("../../assets/GothamMedium_1.ttf");
}

*{
    margin: 0px;
    padding: 0px;
}


.heroimg{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url("../../assets/heroimg.jpg");
    background-size: cover;
    width: 100%;
    height: 850px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heroimg h1,h3{
    color: white;
    font-family: DogDayBrush;
}

.heroimg h1{
    font-size: 230px;
    margin-top: -80px;
}

.heroimg h3{
    font-size: 130px;
}

h2{
    font-family: Gotham;
    margin:20px auto 0px 30px;
    text-align: center;
}
.seleçoes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin:20px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 10px;
    align-items: center;
    border: 1px solid grey;
    border-radius: 5px;
    height: 250px;
    width: 200px;
    font-family: Gotham;
    margin: 0px 10px 20px 10px;
}

.card p {
    display: flex;
    text-align: center;
    font-size: 18px;
    align-items: center;
}

.card img{
    width: 100px;
    height: 100px;
    margin-top: 10px;
}

.cardtitle{
    height: 40px;
}
.addcart{
    height: 40px;
    width: 170px;
    background-color: black;
    color: white;
    font-family: Gotham;
    border-radius: 5px;
    border: 0;
    margin-bottom: 10px;
}

.addcart:active{
    border: 2px solid gray;
}