@font-face {
    font-family: Gotham ;
    src: url("../../assets/GothamMedium_1.ttf");
}

footer {
    font-family: Gotham;
    background-color: black;
}

.footerContainer {
    display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.internalLinks {
    font-family: Gotham;
    color: white;
    font-size: 20px;
    position: absolute;
    left: 100px;
}

.internalLinks p {
    font-family: Gotham;
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}

.internalLinks a {
    color: white;
}

.logo {
    margin: 20px;
}

.logo img {
    width: 160px;
    align-items: center;
	align-content: stretch;
}