@font-face {
    font-family: Gotham ;
    src: url("../../assets/GothamMedium_1.ttf");
}

footer {
    font-family: Gotham;
    background-color: black;

}

.footerContainer {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
}

.internalLinks {
    font-family: Gotham;
    color: white;
    font-size: 20px;
    margin-left: 40px;
    margin-bottom: 5px;
}

.internalLinks a {
    font-family: Gotham;
    color: white;
    font-size: 20px;
}

.logo {
    margin: 20px;
}

.logo img {
    width: 160px;
    align-items: center;
	align-content: stretch;
}

.socialMedia {
    margin-right: 40px;   
}

.socialMedia img {
    width: 40px;
    margin-right: 10px;
    
}